##### 요구사항
* 공연기간을 시작일과 종료일로 나누어 두 개의 컬럼에 넣기 <br>
* 현재일 기준으로 종료된 공연 삭제 <br>
* 'URL' 결측치에 기본 프로필 이미지 넣기 <br>
* 모든 사이트의 공연데이터를 하나로 합치기 <br>

In [47]:
import pandas as pd
import numpy as np

In [48]:
df_yes = pd.read_csv('../ticketMerge/티켓머지_일정데이터/yes24.csv')

In [49]:
df_yes.head(2)

,URL,상품 제목,포스터 URL,상세 포스터 URL,공연장소,공연기간,캐스팅 리스트
0,http://ticket.yes24.com/Special/49958,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,2024.07.27 ~ 2024.07.28,배너(VANNER)
1,http://ticket.yes24.com/Special/49700,THE BOYZ WORLD TOUR : ZENERATION Ⅱ,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202405/2...,KSPO DOME(올림픽체조경기장),2024.07.12 ~ 2024.07.14,더보이즈 (THE BOYZ)

In [50]:
# 다른 데이터와 동일하게 컬럼순서와 컬럼명 맞추기
# url 컬럼과 같은 값을 갖는 '해당 링크' 컬럼을 추가로 만들기->url 컬럼 삭제하기

In [51]:
df_yes['해당 링크'] = df_yes['URL']

In [52]:
df_yes.head(2)

,URL,상품 제목,포스터 URL,상세 포스터 URL,공연장소,공연기간,캐스팅 리스트,해당 링크
0,http://ticket.yes24.com/Special/49958,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,2024.07.27 ~ 2024.07.28,배너(VANNER),http://ticket.yes24.com/Special/49958
1,http://ticket.yes24.com/Special/49700,THE BOYZ WORLD TOUR : ZENERATION Ⅱ,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202405/2...,KSPO DOME(올림픽체조경기장),2024.07.12 ~ 2024.07.14,더보이즈 (THE BOYZ),http://ticket.yes24.com/Special/49700

In [53]:
df_yes = df_yes.drop(columns='URL')

In [54]:
df_yes.head(2)

,상품 제목,포스터 URL,상세 포스터 URL,공연장소,공연기간,캐스팅 리스트,해당 링크
0,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,2024.07.27 ~ 2024.07.28,배너(VANNER),http://ticket.yes24.com/Special/49958
1,THE BOYZ WORLD TOUR : ZENERATION Ⅱ,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202405/2...,KSPO DOME(올림픽체조경기장),2024.07.12 ~ 2024.07.14,더보이즈 (THE BOYZ),http://ticket.yes24.com/Special/49700

In [55]:
# 결측치 확인하기

In [56]:
df_yes.isna().sum()

상품 제목         0
포스터 URL       0
상세 포스터 URL    0
공연장소          0
공연기간          0
캐스팅 리스트       5
해당 링크         0
dtype: int64

In [57]:
# 공연시간을 안전하게 dt_yes 로 별도 저장하여 시작일과 종료일 두 컬럼으로 분리하여 넣어주기

In [58]:
dt_yes = pd.DataFrame(df_yes['공연기간'])

In [59]:
dt_yes

                       공연기간
0   2024.07.27 ~ 2024.07.28
1   2024.07.12 ~ 2024.07.14
2   2024.07.27 ~ 2024.07.28
3   2024.07.21 ~ 2024.07.21
4   2024.07.20 ~ 2024.07.20
..                      ...
81  2024.07.27 ~ 2024.07.27
82  2024.09.13 ~ 2024.09.14
83  2024.08.28 ~ 2024.08.28
84  2024.08.17 ~ 2024.08.17
85  2024.02.26 ~ 2024.03.10

[86 rows x 1 columns]

In [60]:
# "~"를 기준으로 공연기간을 분리 -> 시작일과 종료일로 나누기

In [61]:
dt_yes = dt_yes[['시작일', '종료일']] = dt_yes['공연기간'].str.split(' ~ ', expand=True)

In [62]:
dt_yes

             0           1         시작일         종료일
0   2024.07.27  2024.07.28  2024.07.27  2024.07.28
1   2024.07.12  2024.07.14  2024.07.12  2024.07.14
2   2024.07.27  2024.07.28  2024.07.27  2024.07.28
3   2024.07.21  2024.07.21  2024.07.21  2024.07.21
4   2024.07.20  2024.07.20  2024.07.20  2024.07.20
..         ...         ...         ...         ...
81  2024.07.27  2024.07.27  2024.07.27  2024.07.27
82  2024.09.13  2024.09.14  2024.09.13  2024.09.14
83  2024.08.28  2024.08.28  2024.08.28  2024.08.28
84  2024.08.17  2024.08.17  2024.08.17  2024.08.17
85  2024.02.26  2024.03.10  2024.02.26  2024.03.10

[86 rows x 4 columns]

In [63]:
# 필요 없어진 '공연기간' 컬럼 삭제
dt_yes = dt_yes.drop(columns=[0,1])

In [64]:
dt_yes

           시작일         종료일
0   2024.07.27  2024.07.28
1   2024.07.12  2024.07.14
2   2024.07.27  2024.07.28
3   2024.07.21  2024.07.21
4   2024.07.20  2024.07.20
..         ...         ...
81  2024.07.27  2024.07.27
82  2024.09.13  2024.09.14
83  2024.08.28  2024.08.28
84  2024.08.17  2024.08.17
85  2024.02.26  2024.03.10

[86 rows x 2 columns]

In [65]:
# 시작일과 종료일의 결측치 확인하기

In [66]:
dt_yes.isna().sum()

시작일    0
종료일    0
dtype: int64

In [67]:
# 원래 데이터에 시작일과 종료일 합치기

In [68]:
df_yes = pd.concat([df_yes, dt_yes], axis=1)

In [69]:
df_yes.head(1)

,상품 제목,포스터 URL,상세 포스터 URL,공연장소,공연기간,캐스팅 리스트,해당 링크,시작일,종료일
0,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,2024.07.27 ~ 2024.07.28,배너(VANNER),http://ticket.yes24.com/Special/49958,2024.07.27,2024.07.28

In [70]:
# 공연기간 컬럼 삭제하기

In [71]:
df_yes = df_yes.drop(columns=['공연기간'])

In [72]:
df_yes.head(2)

,상품 제목,포스터 URL,상세 포스터 URL,공연장소,캐스팅 리스트,해당 링크,시작일,종료일
0,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,배너(VANNER),http://ticket.yes24.com/Special/49958,2024.07.27,2024.07.28
1,THE BOYZ WORLD TOUR : ZENERATION Ⅱ,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202405/2...,KSPO DOME(올림픽체조경기장),더보이즈 (THE BOYZ),http://ticket.yes24.com/Special/49700,2024.07.12,2024.07.14

In [73]:
# 종료일을 'date' 데이터 타입으로 변환하고 현재일 기준으로, 종료된 공연 삭제하기

In [74]:
pd.to_datetime(df_yes['종료일'])

0    2024-07-28
1    2024-07-14
2    2024-07-28
3    2024-07-21
4    2024-07-20
        ...
81   2024-07-27
82   2024-09-14
83   2024-08-28
84   2024-08-17
85   2024-03-10
Name: 종료일, Length: 86, dtype: datetime64[ns]

In [75]:
df_yes['종료일_date'] = pd.to_datetime(df_yes['종료일'])

In [76]:
df_yes.head(2)

,상품 제목,포스터 URL,상세 포스터 URL,공연장소,캐스팅 리스트,해당 링크,시작일,종료일,종료일_date
0,2024 VANNER 1ST ENCORE CONCERT [THE FLAG：A TO ...,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202406/2...,YES24 LIVE HALL,배너(VANNER),http://ticket.yes24.com/Special/49958,2024.07.27,2024.07.28,2024-07-28
1,THE BOYZ WORLD TOUR : ZENERATION Ⅱ,http://tkfile.yes24.com/upload2/PerfBlog/20240...,http://tkfile.yes24.com/Upload2/Board/202405/2...,KSPO DOME(올림픽체조경기장),더보이즈 (THE BOYZ),http://ticket.yes24.com/Special/49700,2024.07.12,2024.07.14,2024-07-14

In [77]:
import datetime as dt

In [78]:
dt.datetime.now()

datetime.datetime(2024, 7, 5, 15, 33, 21, 809273)

In [79]:
current = dt.datetime.now()

In [80]:
df_yes = df_yes[df_yes['종료일_date'] >= current]

In [81]:
(df_yes['종료일_date'] >= current).unique()

array([ True])

In [82]:
# csv 파일로 저장하기

In [83]:
df_yes.to_csv('../ticketMerge/df_yes.csv')

#### 가수데이터 정리하기

In [84]:
artist_yes = pd.read_csv('../ticketMerge/티켓머지_아티스트데이터/yes24 artist.csv')

In [85]:
artist_yes

,이름,URL
0,배너(VANNER),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
1,더보이즈 (THE BOYZ),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
2,이찬원,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
3,바다(BADA),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
4,WOOAH,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
...,...,...
73,CHO TOKIMEKI SENDENBU,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
74,eaJ,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
75,"EMOTIONAL ORANGES, CHIIILD",https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
76,NEKIRU,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
77,NMIXX,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...

In [86]:
# 중복값 제거하기

In [87]:
artist_yes = artist_yes.drop_duplicates()

In [88]:
artist_yes

,이름,URL
0,배너(VANNER),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
1,더보이즈 (THE BOYZ),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
2,이찬원,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
3,바다(BADA),https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
4,WOOAH,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
...,...,...
73,CHO TOKIMEKI SENDENBU,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
74,eaJ,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
75,"EMOTIONAL ORANGES, CHIIILD",https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
76,NEKIRU,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...
77,NMIXX,https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQ...

In [89]:
# csv 파일로 저장하기

In [91]:
artist_yes.to_csv('../ticketMerge/artist_yes.csv')